.project-item {
    position: relative;
    padding: 0;
    border: 0;
    overflow: hidden;
    margin: 0;
    /* text-align: center; */
    cursor: pointer;
}

.project-item img {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.project-item:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.project-item .content {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 1rem 2.5rem;
}

.project-item .content .category span {
    padding: .25rem .75rem;
    border-radius: 0.1875rem;
    background-color: #fff;
    color: #545454;
    font-size: 0.875rem;
    margin: 0 0.1875em;
}